<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		{{>link}}
		<title>Cadastrar filme</title>
	</head>
	<body>
		<div class="welcome">
			<h1>Formulári para Cadastro de Filme.</h1>
		</div>
		<div class="formalterar">
			<form action="/inserir" method="POST">
				<label for="nome">Nome:</label><br>
				<input name="nome" type="text" size="60" required/><br>
				<label for="genero">Genero:</label><br>
				<select name="genero" width="60" required>
					{{#genero}}
					<option value="{{.}}">{{descricao}}</option>
					{{/genero}}
				</select><br>
				<label for="ano">Ano lançamento:</label><br>
				<input name="ano" type="number" required/><br>
				<label for="sinopse">Sinopse:</label><br>
				<textarea name="sinopse" required></textarea><br>
				<label for="imagem">Imagem (url):</label><br>
				<input name="imagem" type="url" size="60" required/><br><br>
				<input name="salvar" type="submit" value="Adicionar Filme" size="60"/>
			</form>
		</div>
	</body>
</html>