@CHARSET "UTF-8";
body {
	text-align: center;
	background-color: #ecf0f1;
}

.welcome {
	margin-left: 200px;
	margin-right: 200px;
	background-color: #3498db;
	border-radius: 15px;
	color: #FFFFFF;
}

.login {
	margin-top: 30px;
}

input[type="text"], input[type="password"],
input[type="number"], input[type="url"], textarea {
  padding: 10px;
  border: none;
  border-radius: 8px;
  border-bottom: solid 2px #c9c9c9;
  transition: border 0.3s;
}

input[type="text"]:focus, input[type="text"].focus,
input[type="password"]:focus, input[type="password"].focus,
input[type="number"]:focus, input[type="number"].focus,
input[type="url"]:focus, input[type="url"].focus,
textarea:focus, textarea.focus{
    border-bottom: solid 2px #969696;
}

input[type="submit"] {
	width: 300px;
}

input[type="submit"], input[type="button"] {
	background-color: #696969;
	border-radius: 10px;
	height: 30px;
	font-size: 18px;
	color: #FFFFFF;
	border: solid 2px #000000;
}

input[type="submit"]:focus, input[type="submit"].focus,
input[type="submit"]:hover, input[type="submit"].hover,
input[type="button"]:focus, input[type="button"].focus,
input[type="button"]:hover, input[type="button"].hover {
	background-color: #228B22;
	border: none;
	color: #000000;
}

.rodape a{
	text-decoration: none;
	color: #000000;
	background-color: #FFFFFF;
	border-radius: 5px;
}

.rodape a:hover, a.hover{
	background-color: #0066FF;
	color: #FFFFFF;
	border-radius: 5px;
}

.usuario {
	margin-top: 40px;
}

.errorMessage {
	color: red;
	background-color: #000000;
}

body table{
	text-align: center;
	background-color: #FFFFFF;
	border-radius: 10px;
}

body td, body th{
	width: 150px;
	height: 60px;
}

.formalterar{
	background-color: #000000;
	color: #FFFFFF;
	font-size: 18px;
	border-radius: 50px;
}

body textarea {
	width: 450px;
	height: 35px;
}

input["number"]{
	width: 450px;
}

.welcome p {
	font-size: 25px;
	color: #FFFFFF;
}

.welcome a {
	text-decoration: none;
}